---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<style>
	/* section {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	section div {
		margin: 5px;
		width: 30%;
	}*/
	img {
		margin-left: 10px;
	}
</style>
 

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<!-- <section>
					{
						posts.map((post) => (
							<div>
								<a href={`/blog/${post.slug}/`}>
									<img width={360} height={360} src={post.data.heroImage} alt="" />
									<h6 class="title">{post.data.title}</h6>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</div>
						))
					}
			</section> -->

			<section class="flex flex-row w-full flex-wrap">
				<h1>Hola! soy Salvador Rioboo.</h1>

				<div class="text-xl w-full">
					Full Stack Developer</div>
				<div class="w-full">
					Desarrollador web durante 15 años usando Java en el backend y varias tecnologías frontend.
				</div>

				<!-- <ul>
					<li>
						*   🌍  I'm based in Málaga
					</li>
				</ul>  -->

			 	<!--<h5 class="w-full"> Habilidades: </h5>
				<p class="flex flex-direction-row">
					<a href="https://www.oracle.com/java/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/java-colored.svg" width="36" height="36" alt="Java" /></a>
					<a href="https://vuejs.org/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/vuejs-colored.svg" width="36" height="36" alt="Vue" /></a>
					<a href="https://nuxtjs.org/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/nuxtjs-colored.svg" width="36" height="36" alt="Nuxtjs" /></a>
					<a href="https://angular.io/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/angularjs-colored.svg" width="36" height="36" alt="Angular" /></a>
					<a href="https://sass-lang.com/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/sass-colored.svg" width="36" height="36" alt="Sass" /></a>
					<a href="https://svelte.dev/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/svelte-colored.svg" width="36" height="36" alt="Svelte" /></a>
					<a href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/html5-colored.svg" width="36" height="36" alt="HTML5" /></a>
					<a href="https://reactjs.org/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/react-colored.svg" width="36" height="36" alt="React" /></a>
					<a href="https://www.oracle.com/uk/index.html" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/oracle-colored.svg" width="36" height="36" alt="Oracle" /></a>
				</p>  -->
			</section>
			<section class="flex flex-row w-full flex-wrap">
			<h5 class="w-full"> Habilidades </h5>
				<p class="flex flex-direction-row">
					<a href="https://www.spring.io/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/srioboo/srioboo/main/assets/Spring-Light.svg" width="36" height="36" alt="Spring" /></a>
					<a href="https://www.oracle.com/java/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/srioboo/srioboo/main/assets/Java-Light.svg" width="36" height="36" alt="Java" /></a>
					<a href="https://angular.io/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/srioboo/srioboo/main/assets/Angular-Light.svg" width="36" height="36" alt="Angular" /></a>
					<a href="https://www.oracle.com/uk/index.html" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/srioboo/srioboo/main/assets/Oracle.svg" width="36" height="36" alt="Oracle" /></a>
					<a href="https://www.postgresql.org/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/srioboo/srioboo/main/assets/PostgreSQL-Light.svg" width="36" height="36" alt="Postgres" /></a>
					<a href="https://www.docker.com/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/srioboo/srioboo/main/assets/Docker.svg" width="36" height="36" alt="Docker" /></a>
					<a href="https://kubernetes.io/es/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/srioboo/srioboo/main/assets/Kubernetes.svg" width="36" height="36" alt="Kubernetes" /></a>
					<!-- <a href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/srioboo/srioboo/main/assets/HTML.svg" width="36" height="36" alt="HTML5" /></a>
					<a href="https://sass-lang.com/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/srioboo/srioboo/main/assets/Sass.svg" width="36" height="36" alt="Sass" /></a> -->
				</p>
			</section>
			<section class="flex flex-row w-full flex-wrap">
				<h5 class="w-full">Hablidades en las que estoy trabajando</h5>

				<p class="flex flex-direction-row">
					<a href="https://en.wikipedia.org/wiki/C_(programming_language)" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/srioboo/srioboo/main/assets/C.svg" width="36" height="36" alt="C" /></a>
					<a href="https://www.python.org/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/srioboo/srioboo/main/assets/Python-Light.svg" width="36" height="36" alt="Python" /></a>
					<a href="https://nuxtjs.org/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/srioboo/srioboo/main/assets/NuxtJS-Light.svg" width="36" height="36" alt="Nuxtjs" /></a>
					<a href="https://vuejs.org/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/srioboo/srioboo/main/assets/VueJS-Light.svg" width="36" height="36" alt="Vue" /></a>
					<a href="https://svelte.dev/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/srioboo/srioboo/main/assets/Svelte.svg" width="36" height="36" alt="Svelte" /></a>
				</p>
			</section>
			<section class="flex flex-row w-full flex-wrap">
				<h5 class="w-full">Formación</h5> 

				<p class="flex flex-direction-row">
					<a href="https://reactjs.org/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/srioboo/srioboo/main/assets/React-Light.svg" width="36" height="36" alt="React" /></a>
					<a href="https://go.dev/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/srioboo/srioboo/main/assets/GoLang.svg" width="36" height="36" alt="Golang" /></a>
					<a href="https://kotlinlang.org/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/srioboo/srioboo/main/assets/Kotlin-Light.svg" width="36" height="36" alt="Kotlin" /></a>
				</p>
			</section>

		</main>
		<Footer />
	</body>
</html>
